[Unit]
Description=JingyueControl 鲸跃远控
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/jingyue_control --service
# kill --tray and --server both
ExecStop=pkill -f "jingyue_control --"
# below two lines do not work, have to use above one line
#ExecStop=pkill -f "jingyue_control --tray"
#ExecStop=pkill -f "jingyue_control --server"
PIDFile=/run/jingyue_control.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000
Environment="PULSE_LATENCY_MSEC=60" "PIPEWIRE_LATENCY=1024/48000"

[Install]
WantedBy=multi-user.target