[Desktop Entry]
Name=JingyueControl 鲸跃远控
GenericName=Remote Desktop
Comment=JingyueControl Remote Desktop
Exec=jingyue_control %u
Icon=jingyue_control
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;remote-control;p2p;remote-desktop;
Actions=new-window;
StartupWMClass=jingyue_control

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=jingyue_control %u